<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>gold01.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>76</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold03.png</key>
		<dict>
			<key>x</key>
			<integer>57</integer>
			<key>y</key>
			<integer>38</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold04.png</key>
		<dict>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>76</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold05.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold06.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold07.png</key>
		<dict>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>38</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold08.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold09.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>38</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
	</dict>
</dict>
</plist>