<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>paolizi_08.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paolizi_01.png</key>
		<dict>
			<key>x</key>
			<integer>184</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>5</integer>
			<key>height</key>
			<integer>5</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paolizi_02.png</key>
		<dict>
			<key>x</key>
			<integer>129</integer>
			<key>y</key>
			<integer>114</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paolizi_03.png</key>
		<dict>
			<key>x</key>
			<integer>129</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paolizi_04.png</key>
		<dict>
			<key>x</key>
			<integer>129</integer>
			<key>y</key>
			<integer>56</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paolizi_05.png</key>
		<dict>
			<key>x</key>
			<integer>70</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paolizi_06.png</key>
		<dict>
			<key>x</key>
			<integer>129</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paolizi_07.png</key>
		<dict>
			<key>x</key>
			<integer>70</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
	</dict>
</dict>
</plist>