<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>jg_pao1.png</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>jg_pao2.png</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_11.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>157</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_12.png</key>
		<dict>
			<key>x</key>
			<integer>198</integer>
			<key>y</key>
			<integer>78</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_21.png</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_22.png</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>78</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_31.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>394</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_32.png</key>
		<dict>
			<key>x</key>
			<integer>396</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_41.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>315</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_42.png</key>
		<dict>
			<key>x</key>
			<integer>330</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_51.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>236</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_52.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_61.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_62.png</key>
		<dict>
			<key>x</key>
			<integer>198</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_71.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>78</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_72.png</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_81.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_82.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>443</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_91.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>365</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_92.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_101.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>218</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_102.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_111.png</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>307</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>net_112.png</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>387</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
	</dict>
</dict>
</plist>