<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>water_1.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>10</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_2.png</key>
		<dict>
			<key>x</key>
			<integer>218</integer>
			<key>y</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_3.png</key>
		<dict>
			<key>x</key>
			<integer>218</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_4.png</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>206</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_5.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>206</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_6.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_7.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_8.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_9.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_10.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_11.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
	</dict>
</dict>
</plist>